<div class="restaurants-list">

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant_path(restaurant) do %>
          <h3 class="restaurant-name-in-list"><%= restaurant.name %></h3>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
